# Maven / Build
target/
out/

# IntelliJ
.idea/
*.iml

# IntelliJ específicos
.idea/shelf/
.idea/workspace.xml

# Queries
.idea/queries/

# Datasources
.idea/dataSources/
.idea/dataSources.local.xml

# HTTP Client
.idea/httpRequests/

# Logs
*.log

# OS
.DS_Store
Thumbs.db


#arq
.idea/workspace.xml